# https://docs.sonarsource.com/sonarqube/latest/setup-and-upgrade/install-the-server/installing-sonarqube-from-docker/

x-default: &default_sonarqube
  env_file:
    - ./env_file.sonarqube
  logging:
    driver: "json-file"
    options:
      max-size: "10M"
      max-file: "3"
  networks:
    - sonarqube-network

services:
  sonarqube:
    <<: *default_sonarqube
    image: sonarqube:25.9.0.112764-community
    container_name: sonarqube
    ports:
      - 9000:9000
    environment:
      SONAR_WEB_JAVAADDITIONALOPTS: "-javaagent:/opt/sonarqube/extensions/plugins/sonarqube-community-branch-plugin-25.9.0.jar=web"
      SONAR_CE_JAVAADDITIONALOPTS: "-javaagent:/opt/sonarqube/extensions/plugins/sonarqube-community-branch-plugin-25.9.0.jar=ce"
      # Disable Elasticsearch disk space checks
      SONAR_SEARCH_JAVAADDITIONALOPTS: "-Dcluster.routing.allocation.disk.threshold_enabled=false"
    volumes:
      - ./plugins:/opt/sonarqube/extensions/plugins
      - ./webapp:/opt/sonarqube/web
      # - /tmp/data:/opt/sonarqube/data
      # - /tmp/logs:/opt/sonarqube/logs
    depends_on:
      - postgres
    # --------------- for debug container ------------------------
    # user: root
    # entrypoint: bash
    # command:
    #   - -c
    #   - |
    #     apt update && apt install -y iputils-ping
    #     while true; do echo "this is test command"; sleep 1; done

  postgres:
    <<: *default_sonarqube
    image: postgres:latest
    container_name: sonarqube_postgres
    ports:
      - 5433:5432
    volumes:
      - postgresql_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-root}"]
      interval: 5s

networks:
  sonarqube-network:
    driver: bridge

volumes:
  postgresql_data:
